/* feedback_form.css */

/* Container styles */
.feedback-form-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background-color: green;
}

#title {
    color: green;
}

/* Question styles */
.feedback-questions {
    margin-bottom: 20px;
}

.feedback-question {
    display: none;
}

.feedback-question.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Textarea styles */
.feedback-textarea {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Button container styles */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-container button:not(:last-child) {
    margin-right: 10px;
}
